################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Owen-Template/.vs/Owen-Template
/Owen-Template/Owen-Template/bin/Debug/net5.0
/Owen-Template/Owen-Template/obj
